.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "image ingredients";
}

.recipe-image {
  grid-area: image;
}

.ingredients-list {
  grid-area: ingredients;
}
h0 {
    font-family: "Impact", Impact, sans-serif;
}